<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head"></head>

<link th:href="@{/css/contact/contact_list.css}" rel="stylesheet"/>
<title th:text="#{label.contact_list.titlePage}"></title>
<script th:src="@{/js/libs/jquery.validate.min.js}"></script>

<body>
<nav th:replace="layout :: header"></nav>


<div class="container main_content">

    <div th:replace="common/message_layout :: success_block"></div>
    <div th:replace="common/message_layout :: error_block"></div>

    <div class="row">
        <a th:href="@{/contact/add}" class="btn btn-success pull-left">
            <span class="glyphicon glyphicon-plus"></span> <span th:text="#{label.contact_list.add_new}"></span>
        </a>
        <form class="form-inline pull-right" th:action="@{/contact/search}" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" name="q" th:placeholder="#{label.contact_list.placeholder_contact}"/>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{label.contact_list.buttonSearch}"></button>
        </form>
    </div>


    <hr />

    <th:block th:if="${#lists.isEmpty(contacts)}">
        <div class="row">
            <h3 th:text="#{label.contact_list.no_contact}">No contacts</h3>
        </div>
    </th:block>

    <th:block th:unless="${#lists.isEmpty(contacts)}">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>###</th>
                    <th th:text="#{label.contact_list.table.fullName}">Name</th>
                    <th th:text="#{label.contact_list.table.email}">Email</th>
                    <th th:text="#{label.contact_list.table.phoneNumber}">Phone</th>
                    <th th:text="#{label.contact_list.table.edit}">Edit</th>
                    <th th:text="#{label.contact_list.table.delete}">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact,iterStat : ${contacts}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${contact.fullName}"></td>
                    <td th:text="${contact.email}"></td>
                    <td th:text="${contact.phoneNumber}"></td>
                    <td>
                        <a th:href="@{/contact/edit/{id}(id=${contact.storyId})}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <!-- http://www.thymeleaf.org/doc/articles/standardurlsyntax.html -->
                    </td>
                    <td>
                        <a th:href="@{/contact/delete/{id}(id=${contact.storyId})}"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</div>
<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>