* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    color: #333;
    background-color: rgba(222, 217, 217, 0.6);
}
.main_content {
    margin: 100px auto;
}


.error {
    color: red;
    margin-top: 5px;
    font-weight: 200;
    font-size: 14px;
}